#fondo {
  background-image: url('captura.png');
   height: 100px;
   width: 100px;
  color: red;
 background-size: 100px 100px;
 margin: 0px 0px 0px 25px;

}
#titulo{
    font-family: 'Koulen';
width: 10px;
text-align: center;
    color: black;
margin: auto;
text-decoration: underline;
text-shadow: 5px 5px 8px purple;
}