body {
    background-color: #eee;
    margin: 0;
}
header{
    color:#315a88;
    font-family: Abril Fatface;
    margin: 0;
    text-align: left;
    background-color: #bababa;
    padding: 10px;


}





#logo{
    font-family: Abril Fatface;
    background-color:#bababa;
    float: top left;
    margin: 0;
    max-width: 50px;
    display: inline;
    color:#315a88;
}
h2{
    display: ;
    float: top;
    margin: 0;
margin-top: 10px;
text-align: top;

}
h3{
    text-align: left;
    float:right top;
    display: inline;
}
